
{% extends 'base.html' %}

{% block header %}
    <div class="container-fluid" style="height: 40px;">
        <h5>
            {% block title %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
              </svg>
            お気に入り
            {% endblock %}
        </h5>
    </div>
    
{% endblock %}


{% block content %}
    <div class="container-fluid input-group">
        <div class="row">
            <div class="col-3">
                <form method="post" class="form-floating">
                    <label for="architect_name">建築家名</label>
                    <input name="architect_name" class = "form-control" id="architect_name" placeholder="">
            </div>
            <div class="col-3">
                <form method="post">
                    <label for="architecture_name">建築名</label>
                    <input name="architecture_name" class = "form-control" id="architecture_name" >
            </div>
            <div class="col-2>
                <form method="post">
                    <label for="address1">国/都道府県</label>
                    <input name="address1" class = "form-control" id="address1" >
                    <input type="hidden" name="search_flg" value="True">
            </div>
            <div class="col-2 align-self-end">
                    <input type="submit" value="検索">
                    </form>
            </div>
        </div>        
    </div>
    <div>
        <h3></h3>
    </div>


    <div class="container-fluid">
        <table class="table table-bordered table-hover text-nowrap">
            <thead class="bg-info thead-light text-center">
                <tr >
                    <th scope="col">#</th>
                    <th scope="col">建築ID</th>
                    <th scope="col">建築家名</th>
                    <th scope="col">建築物名</th>
                    <th scope="col">郵便番号</th>
                    <th scope="col">住所１</th>
                    <th scope="col">住所２</th>
                    <th scope="col">住所３</th>
                    <th scope="col">住所４</th>
                    <th scope="col">お気に入り解除</th>
                </tr>
            </thead>
            {% for fav in favorites %}
                <tbody class="table-striped">
                    <tr class="table-light">
                        <th scope = "row">{{ loop.index }}</th>
                        <td>{{ fav['architecture_id'] }}</td>
                        <td>{{ fav['architect_name'] }}</td>
                        <td>{{ fav['architecture_name'] }}</td>
                        <td>{{ fav['postalcode'] }}</td>
                        <td>{{ fav['address1'] }}</td>
                        <td>{{ fav['address2'] }}</td>
                        <td>{{ fav['address3'] }}</td>
                        <td>{{ fav['address4'] }}</td>
                        <td>
                            <form action="/favorite_del" method="post">
                                <input class="danger" type="submit" value="解除" onclick="return confirm('Are you sure?');">
                                <input type="hidden" name="architecture_id" value="{{ fav['architecture_id'] }}">
                                <input type="hidden" name="del_flg" value="True">

                            </form>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}