
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}


{% block content %}
    <div class="architect">
        <form method="post">
            <label for="architect_name">建築家名</label>
            <input name="architect_name" id="architect_name" >
            <input type="submit" value="Register">
        </form>
    </div>

    <script type="text/javascript">
        const archs = {{ archs | tojson }} 
        // console.log( {{ archs | tojson }} )
    </script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='/js/leaflet_tuto.js') }}"></script> -->
    
    <br />
    <div id="map">
        <div id="contextmenu">
            <ul>
                <li>menu1</li>
                <li>menu2</li>    
            </ul>
        </div>
    </div>
{% endblock %}