[mysqld]
character-set-server=utf8mb4
# mysql8.0よりdefaultの認証がcaching_sha2_passwordになっているため明示的に変更
default_authentication_plugin= mysql_native_password

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4

